@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .6s ease;
    background-color: #707b7e;
    border-radius: 4px;
  }
  
  .container:hover .overlay {
    opacity: 0.9;
  }
  
